* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, -apple-system, San Francisco, blinkmacsystemfont, Segoe UI,
    Helvetica Neue, helvetica, arial, sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.image > img {
  width: 50%;
  min-height: 100vh;
  object-fit: cover;
  float: right;
  overflow: hidden;
}
.logo {
  text-align: ;
  margin-left: ;
}
.logo > img {
  margin-bottom: 60px;
  width: 100px;
}

.container {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}
form {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.for > input {
  height: 45px;
  outline: none;
  width: 350px;
  border: 1px solid #8d8b8b;
  border-radius: 7px;
}
.for h1 {
  margin-bottom: 60px;
  font-weight: bold;
}
.entrar input {
  color: white;
  background-color: #238662;
  width: 350px;
  height: 45px;
  border-radius: 12px;
  margin-top: 20px;
  border: 0;
  font-weight: bolder;
  cursor: pointer;
  box-sizing: 3px 0px 3px 0px solid #238662;
}
.entrar input:hover {
  background-color: #2da378;
}

.for {
  margin-bottom: 20px;
}
.cont > a {
  color: #238662;
  font-weight: bold;
  font-size: 0.9rem;
}
.footer {
  font-size: 0.8rem;
}
.footer > h1 {
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer > p {
  font-size: 0.9em;
}
.foot {
  font-size: 0.8rem;

  margin-bottom: 20px;
}
.foot a {
  color: #136c4c;
  text-decoration: none;
  margin-left: 100px;
  font-weight: bold;
}
a {
  color: #238662;
  font-weight: bolder;
}
::-webkit-input-placeholder {
  position: relative;
  left: 15px;
  color: black;
}
.fo {
  margin-right: 40px;
}
@media (max-width: 1000px) {
  body {
    width: 100%;
  }
  .image > img {
    display: none;
  }
  .container {
    width: ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
